.btn {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 3px solid black;
  background-color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color:#80d4ff;
  color: #fff;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}